body {
   background-color: hsl(240, 10%, 15%);
   color: white;
   font-family: sans-serif;
   min-height: 100vh;
   margin: 0;
   display: grid;
   place-items: center;
}

div#app {
   display: contents;
}

div::after {
   animation-duration: calc(var(--frames) * var(--frame-duration)) !important;
}
